#titleText {
  overflow: hidden;
  border-right: 1px solid white;
  white-space: nowrap;
  margin: 0 auto;
  width: 0;
  @include respond_to(medium) {
    line-height: 24px;
  }
}

.autoType {
  animation-name: typing, blink-caret;
  animation-duration: 2s, 1s;
  animation-timing-function: steps(80), step-end;
  animation-delay: 1s, 0s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1, infinite;
  @include respond_to(medium) {
    animation-timing-function: steps(30), step-end;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}
