.autoType {
  overflow: hidden;
  border-right: 1px solid white;
  white-space: nowrap;
  margin: 0 auto;
  animation: typing 2s steps(80, end), blink-caret 1s step-end infinite;
  @include respond_to(medium) {
    animation: typing 1s steps(60, end), blink-caret 1s step-end infinite;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}
