@import 'theme';

@import 'setup';
@import 'mixins';
@import 'variables';

@import '_about';
@import '_contact';
@import '_work';
@import '_skill';
@import '_sideNav';
@import '_tabView';
@import '_masonry';
@import '_autoType';

p,
h1,
h2,
h3 {
  margin: 0;
}

li,
a {
  text-decoration: none;
  color: inherit;
}

.wrapper {
  max-width: 1180px;
  margin: 0 auto;
  height: 100%;
  padding-bottom: 10px;
}

header {
  background-image: url('../../public/images/hero.jpeg');
  background-repeat: repeat-x;
  background-size: cover;
  z-index: -1;
}

#main {
  background-color: rgba(0, 0, 0, 0.8);
  height: 100vh;
  position: relative;
  text-align: center;
  button,
  #mywork {
    right: 18px;
    top: 18px;
    position: absolute;
    background-color: var(--primary-color);
    border: none;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.05);
    width: 148px;
    height: 45px;
    border-radius: 20px;
    font-family: $mont;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    @include respond_to(medium) {
      display: none;
    }
  }
  #mywork {
    cursor: pointer;
    line-height: 45px;
  }
  #logo {
    position: absolute;
    left: 18px;
    top: 18px;
    width: 50px;
    height: 50px;
    @include respond_to(medium) {
      display: none;
    }
  }
  #godown {
    cursor: pointer;
    padding: 10px;
    color: #ffffff;
    position: absolute;
    width: 100%;
    bottom: 30px;
    text-align: center;
    animation: loop 0.5s infinite alternate;
  }
  div.intro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    width: 60%;
    opacity: 0;
    animation: fade 0.4s ease-in 1 forwards;
    h1 {
      font-family: $poppin;
      font-size: 52px;
      @include respond_to(medium) {
        font-size: 32px;
      }
      @include respond_to(small) {
        font-size: 22px;
      }
    }
    p {
      max-width: max-content;
      margin-top: 40px;
      font-family: $lato;
      color: #e6e6e6;
      font-size: 25px;
      font-weight: 400;
      line-height: 36px;
      text-align: center;
      @include respond_to(medium) {
        font-size: 18px;
      }
      @include respond_to(small) {
        font-size: 14px;
      }
      @include respond_to(sheight) {
        margin: 0;
        padding: 0;
      }
    }
    div {
      margin-top: 56px;
      @include respond_to(sheight) {
        margin: 0;
        padding: 0;
      }
    }
  }
}

footer {
  background-color: rgba(20, 20, 20, 1);
  height: 143px;
  .contactlist {
    padding-top: 12px;
  }
  p:first-child {
    font-size: 14px;
  }
}

button {
  z-index: 9;
  transition: 0.2s;
  &:hover {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.2) !important;
  }
  &:focus {
    outline: none;
  }
  &:active {
    box-shadow: inset 0 0 0 32px rgba(0, 0, 0, 0.1);
  }
}

.fa-stack-1x {
  font-size: 13px;
}

@keyframes loop {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(10px);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
