article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active,
a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201c \201d \2018 \2019; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button,
input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

input[type='checkbox'],
input[type='radio'] {
  box-sizing: border-box;
  padding: 0; }

input[type='search'] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body,
figure {
  margin: 0; }

legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ' ';
  clear: both;
  height: 0; }

* {
  box-sizing: border-box;
  list-style-type: none; }

.autoType {
  overflow: hidden;
  border-right: 1px solid white;
  white-space: nowrap;
  margin: 0 auto;
  animation: typing 3s steps(80, end), blink-caret 1s step-end infinite; }
  @media only screen and (max-width: 768px) {
    .autoType {
      animation: typing 1s steps(60, end), blink-caret 1s step-end infinite; } }

@keyframes typing {
  from {
    width: 0; }
  to {
    width: 100%; } }

@keyframes blink-caret {
  from,
  to {
    border-color: transparent; }
  50% {
    border-color: white; } }

#aboutsec {
  background-color: #f5f5f5;
  min-height: 645px;
  text-align: center;
  padding-top: 30px; }
  #aboutsec h1 {
    padding-top: 62px;
    font-family: "Poppins", sans-serif;
    color: #333333;
    font-size: 40px;
    font-weight: 400; }
    @media only screen and (max-width: 789px) {
      #aboutsec h1 {
        font-size: 35px;
        padding-top: 62px; } }
    @media only screen and (max-width: 480px) {
      #aboutsec h1 {
        font-size: 30px;
        padding-top: 42px; } }
  #aboutsec .dash {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background-color: #cccccc;
    width: 50px;
    height: 2px;
    margin: 25px 0 25px 0; }
  #aboutsec img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin-bottom: 75px; }
    @media only screen and (max-width: 789px) {
      #aboutsec img {
        margin-bottom: 55px; } }
    @media only screen and (max-width: 480px) {
      #aboutsec img {
        margin-bottom: 35px; } }
  #aboutsec p {
    text-align: justify;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    max-width: 980px;
    font-family: "Lato", sans-serif;
    color: #666666;
    font-size: 21px;
    line-height: 40px;
    letter-spacing: 2px;
    padding: 0 5%; }
    @media only screen and (max-width: 789px) {
      #aboutsec p {
        font-size: 18px;
        letter-spacing: 1px; } }
    @media only screen and (max-width: 480px) {
      #aboutsec p {
        font-size: 14px; } }
  #aboutsec button {
    margin-top: 60px;
    margin-bottom: 20px;
    background-color: #2c6ed5;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
    width: 185px;
    height: 50px;
    border-radius: 20px;
    border: none;
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    font-size: 15px;
    text-align: center; }
    @media only screen and (max-width: 789px) {
      #aboutsec button {
        margin-top: 30px; } }

#contactsec {
  background-color: #f5f5f5;
  min-height: 955px;
  text-align: center;
  padding-top: 30px; }
  @media only screen and (max-width: 789px) {
    #contactsec {
      min-height: 825px; } }
  #contactsec h1 {
    padding-top: 52px;
    font-family: "Poppins", sans-serif;
    color: #333333;
    font-size: 40px;
    font-weight: 400; }
    @media only screen and (max-width: 789px) {
      #contactsec h1 {
        font-size: 35px;
        padding-top: 62px; } }
  #contactsec p {
    font-family: "Lato", sans-serif;
    font-size: 18px;
    color: #666666; }
  #contactsec .dash {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background-color: #cccccc;
    width: 50px;
    height: 2px;
    margin: 25px 0 25px 0; }
  #contactsec form {
    position: relative;
    left: 45%;
    transform: translateX(-50%);
    margin: 1% 5%;
    max-width: 668px; }
    #contactsec form p {
      font-family: "Montserrat", sans-serif;
      color: #666666;
      font-size: 12px;
      line-height: 25px;
      text-align: left;
      margin-top: 30px;
      margin-bottom: 10px; }
    #contactsec form input,
    #contactsec form textarea {
      border-radius: 5px;
      padding-left: 8px;
      background-color: #ffffff;
      box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1); }
    #contactsec form input {
      width: 100%;
      border: none;
      height: 45px; }
    #contactsec form textarea {
      padding-top: 5px;
      width: 100%;
      resize: none;
      border: none;
      height: 160px; }
    #contactsec form button {
      margin-top: 40px;
      margin-bottom: 20px;
      background-color: #2c6ed5;
      box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
      width: 115px;
      height: 50px;
      border-radius: 20px;
      border: none;
      font-family: "Montserrat", sans-serif;
      color: #ffffff;
      font-size: 15px;
      text-align: center; }

#worksec {
  overflow: hidden;
  font-size: 0;
  background-color: #242424;
  text-align: center;
  padding-top: 30px; }
  #worksec h1 {
    padding-top: 72px;
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    font-family: Poppins;
    color: #ffffff; }
    @media only screen and (max-width: 789px) {
      #worksec h1 {
        font-size: 35px;
        padding-top: 62px; } }
    @media only screen and (max-width: 480px) {
      #worksec h1 {
        font-size: 30px;
        padding-top: 42px; } }
  #worksec .dash {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background-color: #cccccc;
    width: 50px;
    height: 2px;
    margin: 25px 0 25px 0; }
  #worksec #showcases {
    margin: 0 1%;
    margin-bottom: 75px; }
    #worksec #showcases .project {
      margin-top: 95px;
      display: flex;
      align-items: center;
      width: 100%;
      flex-wrap: wrap; }
      #worksec #showcases .project div.imgholder {
        flex: 1 0 45%;
        overflow: hidden; }
        @media only screen and (max-width: 1028px) {
          #worksec #showcases .project div.imgholder {
            margin: 0 15%; } }
        #worksec #showcases .project div.imgholder img {
          width: 100%;
          height: 100%; }

div.description {
  position: relative;
  flex: 1 0 55%;
  padding-bottom: 10px;
  padding-left: 10px;
  text-align: left;
  height: 100%; }
  @media only screen and (max-width: 1028px) {
    div.description {
      flex: 1 0 98%;
      min-height: 280px; } }
  div.description p {
    font-size: 13px;
    font-family: "Poppins", sans-serif;
    color: #ffffff; }
  @media only screen and (max-width: 1028px) {
    div.description div.wrap {
      position: relative;
      top: 0;
      transform: translateY(0); } }
  div.description div.wrap p {
    font-size: 17px; }
    @media only screen and (max-width: 1028px) {
      div.description div.wrap p {
        text-align: center;
        margin: 0 5%; } }
  div.description div.wrap span.divide {
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background-color: #cccccc;
    width: 99%;
    height: 2px;
    margin: 5px 0 15px 0; }
    @media only screen and (max-width: 1028px) {
      div.description div.wrap span.divide {
        width: 89%; } }
  div.description div.wrap .title {
    font-size: 23px; }
    @media only screen and (max-width: 1028px) {
      div.description div.wrap .title {
        text-align: center;
        padding-top: 15px; } }
  div.description div.wrap .tags,
  div.description div.wrap .apitext {
    color: #71a9f1;
    font-family: "Lato", sans-serif; }
    @media only screen and (max-width: 1028px) {
      div.description div.wrap .tags,
      div.description div.wrap .apitext {
        text-align: center; } }
  div.description div.wrap .tags {
    margin-bottom: 20px;
    font-size: 24px; }
  div.description div.wrap .apitext {
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 10px; }
  div.description div.wrap .viewmore {
    display: flex;
    justify-content: space-between;
    bottom: 5px;
    width: 50%;
    max-width: 300px;
    padding-top: 25px; }
    @media only screen and (max-width: 1028px) {
      div.description div.wrap .viewmore {
        position: relative;
        justify-content: space-around;
        left: 50%;
        transform: translateX(-50%); } }
    @media only screen and (max-width: 768px) {
      div.description div.wrap .viewmore {
        margin-top: 15px;
        position: relative; } }
    @media only screen and (max-width: 480px) {
      div.description div.wrap .viewmore {
        position: relative;
        flex-wrap: wrap;
        padding-top: 15px;
        width: 70%; } }
    div.description div.wrap .viewmore button {
      margin: 5px;
      right: 11px;
      top: 11px;
      background-color: #2c6ed5;
      border: none;
      width: 108px;
      height: 35px;
      border-radius: 10px;
      font-family: "Montserrat", sans-serif;
      color: #ffffff;
      font-size: 15px;
      line-height: 21px;
      text-align: center; }
      div.description div.wrap .viewmore button:last-child {
        width: 120px; }

#skillsec {
  background-color: #d3d3d3;
  min-height: 925px;
  padding-top: 30px; }
  #skillsec h1 {
    padding-top: 82px;
    font-family: "Poppins", sans-serif;
    color: black;
    font-size: 40px;
    font-weight: 400;
    text-align: center; }
    @media only screen and (max-width: 789px) {
      #skillsec h1 {
        font-size: 35px;
        padding-top: 62px; } }
    @media only screen and (max-width: 480px) {
      #skillsec h1 {
        font-size: 30px;
        padding-top: 42px; } }
  #skillsec .dash {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background-color: black;
    width: 50px;
    z-index: 9;
    height: 2px;
    margin: 25px 0 75px 0; }
  #skillsec .skilllist {
    display: flex;
    padding: 0;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px; }
    #skillsec .skilllist li {
      flex: 1 0 24.9%;
      text-align: center; }
      @media only screen and (max-width: 768px) {
        #skillsec .skilllist li {
          flex: 1 0 49.9%; } }
    #skillsec .skilllist img,
    #skillsec .skilllist i {
      font-size: 80px;
      height: 80px;
      max-width: 120px;
      color: #1963ca; }
    #skillsec .skilllist p {
      font-family: "Poppins", sans-serif;
      color: black;
      margin-top: 5px;
      margin-bottom: 25px; }

.firebase_icon {
  width: 24px;
  height: 24px;
  transform: translateY(1px); }

footer {
  text-align: center; }
  footer div {
    padding-top: 25px; }
  footer i,
  footer p {
    font-family: "Montserrat", sans-serif;
    color: #ffffff; }
  footer p {
    padding-top: 10px;
    font-size: 12px; }

section.sidenav nav {
  width: 100px;
  position: fixed;
  top: 50%;
  right: 16px;
  transform: translate(0, -50%);
  z-index: 9;
  text-align: right; }
  @media only screen and (max-width: 789px) {
    section.sidenav nav {
      width: 100%;
      height: 50px;
      margin: 0 auto;
      top: 0;
      left: 0;
      right: 0;
      transform: translate(0, 0);
      background-color: rgba(0, 0, 0, 0.85); } }
  section.sidenav nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    @media only screen and (max-width: 789px) {
      section.sidenav nav ul {
        line-height: 50px;
        display: flex;
        justify-content: space-around; } }
    section.sidenav nav ul li {
      height: 29px; }
      @media only screen and (max-width: 789px) {
        section.sidenav nav ul li {
          height: auto;
          width: auto;
          color: #ffffff; } }
  section.sidenav nav a.dot {
    display: inline-block;
    z-index: 9;
    color: transparent;
    border-radius: 50%;
    border: 2px solid #999999;
    background-color: #ffffff;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
    width: 10px;
    height: 10px; }
    @media only screen and (max-width: 789px) {
      section.sidenav nav a.dot {
        color: transparent;
        width: auto;
        border-radius: 0;
        border: none;
        margin: 0;
        padding: 0;
        top: 0;
        left: 0;
        right: 0;
        background: none; }
        section.sidenav nav a.dot p {
          color: white; } }
  section.sidenav nav a.actived {
    border: 2px solid #2c6ed5; }
    @media only screen and (max-width: 789px) {
      section.sidenav nav a.actived {
        border: none; } }
    section.sidenav nav a.actived p {
      background-color: rgba(0, 0, 0, 0.9); }
      section.sidenav nav a.actived p span {
        color: #ffffff; }
      @media only screen and (max-width: 1440px) {
        section.sidenav nav a.actived p {
          background-color: transparent !important; }
          section.sidenav nav a.actived p span {
            color: transparent !important; } }
      @media only screen and (max-width: 789px) {
        section.sidenav nav a.actived p span {
          color: #2c6ed5 !important; } }
  section.sidenav nav p {
    position: relative;
    float: right;
    border-radius: 10px;
    width: 65px;
    height: 29px;
    right: 16px;
    top: -10px;
    z-index: 9;
    text-align: right; }
    @media only screen and (max-width: 789px) {
      section.sidenav nav p {
        position: initial;
        float: none;
        width: auto;
        height: auto;
        right: 0; } }
    section.sidenav nav p span {
      font-family: "Montserrat", sans-serif;
      font-size: 13px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -55%); }
      @media only screen and (max-width: 789px) {
        section.sidenav nav p span {
          font-size: 14px;
          font-weight: bold;
          position: relative;
          top: 0;
          left: 0; } }

section.no-touch a.dot:hover p {
  background-color: rgba(0, 0, 0, 0.9); }
  section.no-touch a.dot:hover p span {
    color: #ffffff; }

@media only screen and (max-width: 789px) {
  section.no-touch a.dot:hover p {
    background-color: transparent; }
    section.no-touch a.dot:hover p span {
      color: #2c6ed5; } }

.inputTabView {
  margin-top: 40px; }

.inputTabView input[type='radio'],
.tabSections > section {
  display: none; }

.inputTabView input:nth-of-type(1):checked ~ .tabSections section:nth-of-type(1),
.inputTabView input:nth-of-type(2):checked ~ .tabSections section:nth-of-type(2) {
  display: block; }

.inputTabView input:nth-of-type(1):checked ~ .tabLabels label:nth-of-type(1),
.inputTabView input:nth-of-type(2):checked ~ .tabLabels label:nth-of-type(2) {
  background-color: #2c6ed5; }

.tabLabels {
  margin: 0 10px;
  border-bottom: 1px solid #cccccc;
  display: flex;
  align-items: center;
  justify-content: flex-start; }
  @media only screen and (max-width: 1028px) {
    .tabLabels {
      margin: 0 40px; } }
  @media only screen and (max-width: 768px) {
    .tabLabels {
      margin: 0 20px; } }
  .tabLabels label {
    position: relative;
    display: inline-block;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    min-width: 50%;
    color: white;
    border: 1px solid transparent;
    cursor: pointer;
    font-weight: bold; }

.tabSections p {
  color: white;
  line-height: 1.5em;
  font-size: 16px; }

.tabSections section {
  margin-top: 30px; }

.masonryGrid {
  column-count: 3;
  column-gap: 30px;
  transition: all 0.5s ease-in-out;
  column-fill: initial; }
  @media only screen and (max-width: 768px) {
    .masonryGrid {
      column-count: 2; } }
  @media only screen and (max-width: 789px) {
    .masonryGrid {
      column-count: 1; } }

.masonryItemCard {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  margin-bottom: 30px;
  border-radius: 20px;
  box-shadow: 0 16px 32px -14px rgba(160, 160, 160, 0.2);
  overflow: hidden; }
  .masonryItemCard img {
    height: auto;
    max-width: 100%; }
  .masonryItemCard .cardContent {
    padding: 1rem;
    background-color: #485461;
    background-image: linear-gradient(315deg, #485461 0%, #28313b 74%); }
  .masonryItemCard .cardTitle {
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0px; }

p,
h1,
h2,
h3 {
  margin: 0; }

li,
a {
  text-decoration: none;
  color: inherit; }

.wrapper {
  max-width: 1180px;
  margin: 0 auto;
  height: 100%;
  padding-bottom: 10px; }

header {
  background-image: url("../../public/images/hero.jpeg");
  background-repeat: repeat-x;
  background-size: cover;
  z-index: -1; }

#main {
  background-color: rgba(0, 0, 0, 0.8);
  height: 100vh;
  position: relative;
  text-align: center; }
  #main button,
  #main #mywork {
    right: 18px;
    top: 18px;
    position: absolute;
    background-color: #2c6ed5;
    border: none;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.05);
    width: 148px;
    height: 45px;
    border-radius: 20px;
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
    text-align: center; }
    @media only screen and (max-width: 789px) {
      #main button,
      #main #mywork {
        display: none; } }
  #main #mywork {
    cursor: pointer;
    line-height: 45px; }
  #main #logo {
    position: absolute;
    left: 18px;
    top: 18px;
    width: 50px;
    height: 50px; }
    @media only screen and (max-width: 789px) {
      #main #logo {
        display: none; } }
  #main #godown {
    cursor: pointer;
    padding: 10px;
    color: #ffffff;
    position: absolute;
    width: 100%;
    bottom: 30px;
    text-align: center;
    animation: loop 0.5s infinite alternate; }
  #main div.intro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    width: 60%;
    opacity: 0;
    animation: fade 0.4s ease-in 1 forwards; }
    #main div.intro h1 {
      font-family: "Poppins", sans-serif;
      font-size: 52px; }
      @media only screen and (max-width: 789px) {
        #main div.intro h1 {
          font-size: 32px; } }
      @media only screen and (max-width: 480px) {
        #main div.intro h1 {
          font-size: 22px; } }
    #main div.intro p {
      max-width: max-content;
      margin-top: 40px;
      font-family: "Lato", sans-serif;
      color: #e6e6e6;
      font-size: 25px;
      font-weight: 400;
      line-height: 36px;
      text-align: center; }
      @media only screen and (max-width: 789px) {
        #main div.intro p {
          font-size: 18px; } }
      @media only screen and (max-width: 480px) {
        #main div.intro p {
          font-size: 14px; } }
      @media only screen and (max-height: 450px) {
        #main div.intro p {
          margin: 0;
          padding: 0; } }
    #main div.intro div {
      margin-top: 56px; }
      @media only screen and (max-height: 450px) {
        #main div.intro div {
          margin: 0;
          padding: 0; } }

footer {
  background-color: #141414;
  height: 143px; }
  footer .contactlist {
    padding-top: 12px; }
  footer p:first-child {
    font-size: 14px; }

button {
  z-index: 9;
  transition: 0.2s; }
  button:hover {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.2) !important; }
  button:focus {
    outline: none; }
  button:active {
    box-shadow: inset 0 0 0 32px rgba(0, 0, 0, 0.1); }

.fa-stack-1x {
  font-size: 13px; }

@keyframes loop {
  0% {
    transform: translateY(0px); }
  100% {
    transform: translateY(10px); } }

@keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
